@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
*{
	margin:0;
	padding:0;
}

header {
	padding:58px 20px 145px 20px;
	background-color:#87509c;
}
.header_container{
	padding:0 20px 0 20px; 
}
.logo{
	padding:0 0 0 40px;
}
.menu_top{
	padding-left:10px;
}
.menu_top ul li{
	margin-left:27px;
}
.menu_top ul li:first-child{
	padding-left:82px;
	margin-left:0px;
}
	
.menu_top ul li a{
	color:#fff;
	padding: 10px 17px 9px 17px;
	font-family:Titillium Web;
}
.menu_top ul li a:hover{
	background-color:#643a79;
	border-radius:3px;
}
.header-main p{
	padding: 146px 97px 54px 97px;
	color:#fff;
	font-size:42px;
	font-family: Titillium Web;
	font-weight: bold;
	text-indent:67px;
}
.header-main p::first-line{
	
}





